<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
   <ul class="nav docs-sidenav">
      <li>
         <a href="/docs/providers/index.html">All Providers</a>
      </li>
      <li>
         <a href="/docs/providers/apsarastack/index.html">Apsarastack Provider</a>
      </li>
      <a href="#">ECS</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/disks.html">apsarastack_disks</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/instance_type_families.html">apsarastack_instance_type_families</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/instance_types.html">apsarastack_instance_types</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/instances.html">apsarastack_instances</a>
                  </li>

               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/disk.html">apsarastack_disk</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/disk_attachment.html">apsarastack_disk_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/instance.html">apsarastack_instance</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
   </ul>
</div>
<% end %>
<%= yield %>
<% end %>