<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
   <ul class="nav docs-sidenav">
      <li>
         <a href="/docs/providers/index.html">All Providers</a>
      </li>
      <li>
         <a href="/docs/providers/apsarastack/index.html">Apsarastack Provider</a>
      </li>
      <li>
         <a href="#">Provider Data Sources</a>
         <ul class="nav">
            <li>
               <a href="/docs/providers/apsarastack/d/zones.html">apsarastack_zones</a>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">Auto Scaling (ESS)</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/ess_lifecycle_hooks.html">apsarastack_ess_lifecycle_hooks</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/ess_notifications.html">apsarastack_ess_notifications</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/ess_scaling_configurations.html">apsarastack_ess_scaling_configurations</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/ess_scaling_groups.html">apsarastack_ess_scaling_groups</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/ess_scaling_rules.html">apsarastack_ess_scaling_rules</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/ess_scheduled_tasks.html">apsarastack_ess_scheduled_tasks</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_notification.html">apsarastack_ess_notification</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_scaling_lifecycle_hook.html">apsarastack_ess_lifecycle_hook</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_scaling_configuration.html">apsarastack_ess_scaling_configuration</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_scaling_group.html">apsarastack_ess_scaling_group</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_scaling_rule.html">apsarastack_ess_scaling_rule</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_schedule.html">apsarastack_ess_schedule</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_scheduled_task.html">apsarastack_ess_scheduled_task</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/ess_scalinggroup_vserver_groups.html">apsarastack_ess_scalinggroup_vserver_groups</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">Container Service (CS)</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/cs_kubernetes_clusters.html">apsarastack_cs_kubernetes_clusters</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cs_managed_kubernetes_clusters.html">apsarastack_cs_managed_kubernetes_clusters</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cs_serverless_kubernetes_clusters.html">apsarastack_cs_serverless_kubernetes_clusters</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/cs_kubernetes.html">apsarastack_cs_kubernetes</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cs_kubernetes_autoscaler.html">apsarastack_cs_kubernetes_autoscaler</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cs_managed_kubernetes.html">apsarastack_cs_managed_kubernetes</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cs_serverless_kubernetes.html">apsarastack_cs_serverless_kubernetes</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">Container Registry (CR)</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/cr_namespaces.html">apsarastack_cr_namespaces</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cr_repos.html">apsarastack_cr_repos</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cr_ee_instances.html">apsarastack_cr_ee_instances</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cr_ee_namespaces.html">apsarastack_cr_ee_namespaces</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cr_ee_repos.html">apsarastack_cr_ee_repos</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/cr_ee_sync_rules.html">apsarastack_cr_ee_sync_rules</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/cr_namespace.html">apsarastack_cr_namespace</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cr_repo.html">apsarastack_cr_repo</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cr_ee_namespace.html">apsarastack_cr_ee_namespace</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cr_ee_repo.html">apsarastack_cr_ee_repo</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/cr_ee_sync_rule.html">apsarastack_cr_ee_sync_rule</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">DNS</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/dns_domain_groups.html">apsarastack_dns_domain_groups</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/dns_domains.html">apsarastack_dns_domains</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <a href="/docs/providers/apsarastack/r/dns_domain.html">apsarastack_dns_domain</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/dns_domain_attachment.html">apsarastack_dns_domain_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/dns_group.html">apsarastack_dns_group</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">ECS</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/disks.html">apsarastack_disks</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/images.html">apsarastack_images</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/instance_type_families.html">apsarastack_instance_type_families</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/instance_types.html">apsarastack_instance_types</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/instances.html">apsarastack_instances</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/key_pairs.html">apsarastack_key_pairs</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/network_interfaces.html">apsarastack_network_interfaces</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/security_group_rules.html">apsarastack_security_group_rules</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/security_groups.html">apsarastack_security_groups</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/snapshots.html">apsarastack_snapshots</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/disk.html">apsarastack_disk</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/disk_attachment.html">apsarastack_disk_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/image.html">apsarastack_image</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/image_export.html">apsarastack_image_export</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/image_copy.html">apsarastack_image_copy</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/image_import.html">apsarastack_image_import</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/image_share_permission.html">apsarastack_image_share_permission</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/instance.html">apsarastack_instance</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/key_pair.html">apsarastack_key_pair</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/key_pair_attachment.html">apsarastack_key_pair_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/network_interface.html">apsarastack_network_interface</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/network_interface_attachment.html">apsarastack_network_interface_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/reserved_instance.html">apsarastack_reserved_instance</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/security_group.html">apsarastack_security_group</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/security_group_rule.html">apsarastack_security_group_rule</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/snapshot.html">apsarastack_snapshot</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/snapshot_policy.html">apsarastack_snapshot_policy</a>
                  <li>
                     <a href="/docs/providers/apsarastack/r/launch_template.html">apsarastack_launch_template</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">KMS</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/kms_aliases.html">apsarastack_kms_aliases</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/kms_ciphertext.html">apsarastack_kms_ciphertext</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/kms_keys.html">apsarastack_kms_keys</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/kms_secrets.html">apsarastack_kms_secrets</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/kms_alias.html">apsarastack_kms_alias</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/kms_ciphertext.html">apsarastack_kms_ciphertext</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/kms_key.html">apsarastack_kms_key</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/kms_secret.html">apsarastack_kms_secret</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">Log Service (SLS)</a>
         <ul class="nav">
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/log_machine_group.html">apsarastack_log_machine_group</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/log_project.html">apsarastack_log_project</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/log_store.html">apsarastack_log_store</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/log_store_index.html">apsarastack_log_store_index</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/logtail_attachment.html">apsarastack_logtail_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/logtail_config.html">apsarastack_logtail_config</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">OSS</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/oss_bucket_objects.html">apsarastack_oss_bucket_objects</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/oss_buckets.html">apsarastack_oss_buckets</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/oss_bucket.html">apsarastack_oss_bucket</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/oss_bucket_object.html">apsarastack_oss_bucket_object</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">Server Load Balancer (SLB)</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_acls.html">apsarastack_slb_acls</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_backend_servers.html">apsarastack_slb_backend_servers</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_ca_certificates.html">apsarastack_slb_ca_certificates</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_listeners.html">apsarastack_slb_listeners</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_master_slave_server_groups.html">apsarastack_slb_master_slave_server_groups</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_rules.html">apsarastack_slb_rules</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_server_certificates.html">apsarastack_slb_server_certificates</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_server_groups.html">apsarastack_slb_server_groups</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slbs.html">apsarastack_slbs</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_domain_extensions.html">apsarastack_slb_domain_extensions</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/slb_zones.html">apsarastack_slb_zones</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb.html">apsarastack_slb</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_acl.html">apsarastack_slb_acl</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_backend_server.html">apsarastack_slb_backend_server</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_ca_certificate.html">apsarastack_slb_ca_certificate</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_listener.html">apsarastack_slb_listener</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_master_slave_server_group.html">apsarastack_slb_master_slave_server_group</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_rule.html">apsarastack_slb_rule</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_server_certificate.html">apsarastack_slb_server_certificate</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_server_group.html">apsarastack_slb_server_group</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/slb_domain_extension.html">apsarastack_slb_domain_extension</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li>
         <a href="#">VPC</a>
         <ul class="nav">
            <li>
               <a href="#">Data Sources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/d/common_bandwidth_packages.html">apsarastack_common_bandwidth_packages</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/eips.html">apsarastack_eips</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/nat_gateways.html">apsarastack_nat_gateways</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/route_entries.html">apsarastack_route_entries</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/route_tables.html">apsarastack_route_tables</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/router_interfaces.html">apsarastack_router_interfaces</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/snat_entries.html">apsarastack_snat_entries</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/vpcs.html">apsarastack_vpcs</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/vswitches.html">apsarastack_vswitches</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/d/forward_entries.html">apsarastack_forward_entries</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#">Resources</a>
               <ul class="nav nav-auto-expand">
                  <li>
                     <a href="/docs/providers/apsarastack/r/common_bandwidth_package.html">apsarastack_common_bandwidth_package</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/common_bandwidth_package_attachment.html">apsarastack_common_bandwidth_package_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/eip.html">apsarastack_eip</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/eip_association.html">apsarastack_eip_association</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/forward_entry.html">apsarastack_forward_entry</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/nat_gateway.html">apsarastack_nat_gateway</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/network_acl.html">apsarastack_network_acl</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/network_acl_attachment.html">apsarastack_network_acl_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/network_acl_entries.html">apsarastack_network_acl_entries</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/route_entry.html">apsarastack_route_entry</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/route_table.html">apsarastack_route_table</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/route_table_attachment.html">apsarastack_route_table_attachment</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/router_interface.html">apsarastack_router_interface</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/router_interface_connection.html">apsarastack_router_interface_connection</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/snat.html">apsarastack_snat_entry</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/vpc.html">apsarastack_vpc</a>
                  </li>
                  <li>
                     <a href="/docs/providers/apsarastack/r/vswitch.html">apsarastack_vswitch</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
   </ul>
</div>
<% end %>
<%= yield %>
<% end %>